@font-face {
    font-family: 'Invisible-Medium 2';
    src: url("fonts/invisible11/Invisible-Medium 2.otf");
}
@font-face{
    font-family: 'Verdana';
    src: url("fonts/Verdana.ttf");
}
body{
    background: url("../images/rana-sawalha-364253-unsplash@1X.png") no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;

}
header{
    position: relative;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 56px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.logo1{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    background: url("../images/logotype/JOURNEY@1X.png");
    width: 105px;
    height: 15px;
}
.logo2:hover{
    background: url("../images/logotype/JOURNEY@1X_hover.png");
}
.sprite{
    position: absolute;
    top: 50%;
    right: 305px;
    transform: translateY(-50%);
    border-right: 1px solid #C1C1C1;
}
.icon{
    background:url("../images/sprite icons/spritesheet.png");
    display: inline-block;
    margin-right: 25px;
}
.icon.icon-calendar{
    width: 19px;
    height: 19px;
    background-position: -14px -14px;
}
.icon.icon-calendar:hover{
    background-position: -61px -14px;
}
.icon.icon-forum{
    width: 28px;
    height: 20px;
    background-position: -108px -14px;
}
.icon.icon-forum:hover{
    background-position: -164px -14px;
}
.icon.icon-journey{
    width: 20px;
    height: 20px;
    background-position: -220px -14px;
}
.icon.icon-journey:hover{
    background-position: -268px -14px;
}
.registration{
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    color: #FFFFFF;
    font-family: Verdana,'Invisible-Medium 2', sans-serif;
    font-size: 14px;
}
.registration>a{
    color: #3BB073;
}
.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
}
.login{
    margin: 0 auto;
    padding: 30px 60px;
    width: 445px;
    height: 585px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 20px;
}
.login:before{
    content: '';
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 40px;
    left: 0;
}
.inner-form{
    position: relative;
    height: 100%;
}
.sign-up{
    position: absolute;
    font-family: Verdana, 'Invisible-Medium 2', sans-serif;
    font-size: 20px;
    color: #434343;
}
.log-in>a{
    position: absolute;
    font-family: Verdana, 'Invisible-Medium 2', sans-serif;
    font-size: 14px;
    color: #3BB073;
    top: 0;
    right: 0;
}
.social{
    position: absolute;
    width: 157px;
    height: 46px;
    background-color: #3C5A9A;
    border-radius: 3px;
    top: 35px;
    left: 0;
}
.social>a, .button-google>a{
    display: block;
    line-height: 46px;
    color: #fff;
    font-size: 16px;
    text-align: right;
    padding-right: 17px;
    font-family: Verdana, 'Invisible-Medium 2', sans-serif;
}
.button-google>a{
    padding-right: 28px;
}
i.fa{
    position: absolute;
    color: #fff;
    font-size: 20px;
    top: 5px;
    display: block;
    line-height: 36px;
    border-right: 1px solid;
    border-color: rgba(0,0,0,0.1);
    padding: 0 20px;
}
i.fa-google-plus{
    padding: 0 15px;
}
.button-google{
    position: absolute;
    width: 157px;
    height: 46px;
    background-color: #DD4C39;
    border-radius: 3px;
    top: 35px;
    right: 0;
}
.social:hover>a, .button-google:hover>a{
    text-decoration: none;
}
.social:hover{
    background-color: #264B96;
}
.button-google:hover{
    background-color:#C3412C;
}
.line{
    position: relative;
    top: 110px;
}
.text{
    position: absolute;
    left: 50%;
    top: -8px;
    transform: translateX(-50%);
    width: 40px;
    background-color: #fff;
    text-align: center;
    color: grey;
    font-family: Verdana, 'Invisible-Medium 2', sans-serif;
    font-size: 14px;
}
.name, .last-name, .email, .password1, .password2,.submit{
    position: absolute;
    width: 100%;
    height: 45px;
    padding:0 17px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid grey;
    font-size: 14px;
}
.name{
    top: 140px;
}
.last-name{
    top: 195px;
}
.email{
    top: 250px;
}
.password1{
    top: 305px;
}
.password2{
    top: 360px;
}
.shadow:focus{
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}
.check{
    position: absolute;
    top: 425px;
    font-size: 14px;
    font-family: Verdana, 'Invisible-Medium 2', sans-serif;
}
input[type="checkbox"]{
    display: none;
}
label::before{
    content: '';
    border: 1px solid #808080;
    border-radius: 4px;
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 10px;
    vertical-align: middle;
}
input[type="checkbox"]:checked+label::before{
    background:url("../images/check.png") no-repeat, #3BB073;
    background-size: 100%;
}
.terms-conditions{
    color: #3BB073;
}
.submit{
    top: 470px;
    background-color: #3CB878;
    color: #fff;
    font-size: 16px;
}
.submit:hover{
    background-color: #329A65;
}











